/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #008B8B;
    padding: 10px;
    border-radius: 5px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #121314;
}

.nav-item.active {
    background-color: #01050c;
    font-weight: bold;
}

/* Content Section */
.content {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #008B8Bcc;
}

p {
    line-height: 1.6;
}

/* Additional Styling for Specific Pages */
.home-section {
    text-align: center;
}

.home-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
.table,
    th,
    td {
        border: 1px solid black;
    }
